<div class="jumbotron">
  <h3 style="text-align: center;">Select a date to calculate the profit for the period</h3>
  <p style="text-align: center;"><a class="glyphicon glyphicon-calendar period-button btn btn-primary btn-lg" role="button"></a></p>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Profit</h4>
      </div>
      <div class="modal-body">
        <h1 class="show-profit"></h1>
      </div>
    </div>
  </div>
</div>